@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../static/fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('../static/fonts/helveticaneuecyr-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('../static/fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../static/fonts/helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('../static/fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('../static/fonts/helveticaneuecyr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}