// vars
$hl: 'helveticaneuecyrlight';
$hb: 'helveticaneuecyrbold';
$hm: 'helveticaneuecyrmedium';
$main-color: #ffa200;
$btn-hover: #e08e00;
$bg-color: #f3f3f3;
$bg-social: #BBBBBB;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// layout
@import '_misc/fonts';
@import '_misc/libs';

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
html {
    box-sizing: border-box; 
}
*,
*:before,
*:after {
    box-sizing: inherit; 
}
body {
    min-width: 100%;
    float: left;
    margin: 0;
    padding: 0;

    font-family: $hl, 'Arial', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.42;
    color: #000000;

    background-color: $bg-color;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none; 
}
.container {
    margin: 0 auto;
    width: 1200px;
}

input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.9s ease;}
input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.9s ease;}
input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.9s ease;}
input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.9s ease;}
input:focus::-webkit-input-placeholder {text-indent: 1000px; transition: text-indent 0.9s ease;}
input:focus::-moz-placeholder          {text-indent: 1000px; transition: text-indent 0.9s ease;}
input:focus:-moz-placeholder           {text-indent: 1000px; transition: text-indent 0.9s ease;}
input:focus:-ms-input-placeholder      {text-indent: 1000px; transition: text-indent 0.9s ease;}

// styles
@import 'blocks/button';
@import 'blocks/primary';
@import 'blocks/top-nav';
@import 'blocks/goods';
@import 'blocks/products';
@import 'blocks/form';
@import 'blocks/comments';
@import 'blocks/map';

