.btn {
    padding: 20px 25px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: $main-color;
    transition: all 0.4s;
    &:hover {
        background-color: $btn-hover;
    }
}