.filter {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #ececec;
}

.filter__sidebar {
    width: 239px;
    padding: 20px 30px;
    border-right: 1px solid #ececec;
}

.filter__toggle {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    &:focus ~ .filter__toggle-label{
        border: 2px solid #4D90FE;
    }
}

.filter__toggle:checked ~ .filter__toggle-label {
    background-color: $main-color;
    &::before {
        left: auto;
        right: 0;
        background-color: #f3f3f3;
    }
}

.filter__toggle-label {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #bbbbbb;
    border-radius: 10px;
    transition: all 0.4s;
    &::before {
        content: '';
        position: absolute;
        bottom: 50%;
        left: 0;
        width: 15px;
        height: 15px;
        background-color: $main-color;
        border-radius: 50%;
        transform: translateY(50%);
    }
}

.filter__products {
    padding: 20px 30px;
}

.filter__list-products {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter__products-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    fill: #bbbbbb;
    transition: all 0.4s;
    &:hover,
    &:focus,
    &:active {
        fill: $main-color;
    }
}