.page-main__goods {
    margin-top: -120px;
    padding: 50px 35px 30px;
}

.goods {
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 3px 7px rgba(32, 22, 0, 0.06);
}

.goods__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.goods__title {
    position: relative;
    margin: 0;
    padding-left: 30px;
    font-size: 30px;
    &::before {
        content: '';
        position: absolute;
        left: 0px;
        top: 50%;
        width: 5px;
        height: 130%;
        background-color: $main-color;
        transform: translateY(-50%);
    }
}

.goods__nav-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.goods__nav-item {
    margin-left: 25px;
}

.goods__nav-item--active {
    .goods__nav-link {
        color: $main-color;
    }
}

.goods__nav-link {
    display: block;
    font-family: $hm;
    color: #000000;
    text-transform: uppercase;
    transition: all 0.4s;
    &:hover {
        color: $main-color;
    }
}

.goods__list {
    padding: 0;
    margin: 0;
    list-style: none;
}